@import url('https://fonts.googleapis.com/css2?family=Puritan&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alkatra", cursive;
}

body {
  background-image: linear-gradient(60deg, rgb(252, 0, 255) 0%, rgb(0, 219, 222) 100%);
  background-repeat: no-repeat;
}

.nav {
  color: #fff;
  display: flex;

  /* position: fixed; */
  padding: 10px 30px;
  justify-content: space-between;
  width: 100%;
  background: #2600c1;
}

.logo img {
  height: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
}

.smoothie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2em;
  gap: 10%;
}

.smoothie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5em;
  gap: 10%;
}

.myCard {
  width: 17em;
  height: auto;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  border-radius: 25px;
  background: #2600c1;
  box-shadow: 0 0 0.5em #0000;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.cardImg {
  width: 12em;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 3%;
}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
}

.interation {
  display: flex;
  flex-direction: column;
}

.likeBtn {
  background: none;
  border: none;
  font-size: 1.7em;
  cursor: pointer;
}

.likeCounter {
  font-size: 1.5em;
  text-align: center;
  color: #ffff;
  margin: 2px;
}

.fa-thumbs-up::before {
  content: "\f164";
  color: wheat;
}

footer {
  /* position: fixed; */
  height: 0;
  width: auto;
}

footer h5 {
  color: #fff;
  background: #2600c1;
  padding: 20px;
}

/* modal  */
.modal-card-img {
  width: 20%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.modal-card-img {
  width: 20%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container button {
  width: 120%;
  margin-bottom: 5%;
  padding: 3%;
  font-size: 1.2em;
  cursor: pointer;
}
/* Comments Popup */
.no-scroll {
  overflow: hidden;
  position: sticky;
}

#closeBtn {
  font-size: 45px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: #fff;
  align-self: self-end;
}

/* #closeDialoge {
  color: #000;
  background-color: transparent;
  height: 40px;
  width: 40px;
  align-self: flex-end;
  border: none;
  cursor: pointer;
} */

.dialog-container {
  position: fixed;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EF5350;
  width: 60vw;
  border-radius: 2%;
  margin: auto;
  padding: 2%;
  gap: 2%;
}
.dialog-container::backdrop {
  background-color: #263238;
}

.specs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

#popup-img {
  width: 70%;
  height: auto;
  background-color: #fff;
  border-radius: 5rem;
}

.comments-list {
  height: 200px;
}

.comments-topic {
  display: grid;
  grid-column: 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: #fff;
}
.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 80%;
  color: #fff;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
}

#add-comments {
  width: 100%;
  padding: 0 30px;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 12px;
  padding: 20px 0;
  width: 70%;
}

form>input, form>textarea{
  padding: 5px 0 5px 8px;
  border: 2px solid #000;
  border-radius: 0.1rem;

}

#name {
  width: 70%;
}

#submit {
  width: 30%;
  align-self: self-start;
  border: 2px solid #000;
  box-shadow: 10px 10px 8px 1px #000;
  border-radius: 0.1rem;
}

.display-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  border-color: transparent;
  background: linear-gradient(-50deg, #4ca9df, #292e91);
  width: 60%;
  border-radius: 2rem;
  margin: auto;
  padding: 2%;
  gap: 2%;
}

/* Footer */
footer {
  background-color: #EF5350;
  width: 100%;
}
footer h2 {
  font-size: 1em;
}
.footer-link {
  text-decoration: none;
  color: yellow;
}