@import url('https://fonts.googleapis.com/css2?family=Puritan&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alkatra", cursive;
}

body {
  background-image: linear-gradient(60deg, rgb(252, 0, 255) 0%, rgb(0, 219, 222) 100%);
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
}

.logo {
  background-image: url('../sources/logo.png');
  background-color: #000;
  background-size: 80px;
  background-repeat: no-repeat;
  z-index: 3;
}

.nav-list a {
  text-decoration: none;
  color: #000;
}

.smoothie-list {
  padding: 10px 20px;
  height: 80vh;
}

.smoothie-topic {
  /* padding: 10% 5%; */
}

footer {
  position: fixed;
  width: auto;
}

footer h5 {
  padding: 20px;
}
